@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');



/* Header */
body {
background: linear-gradient(
  135deg,
  #ffffff 0%,
  #f8f9ff 20%,
  #e9ecff 40%,
  #d4daff 60%,
  #bdc5ff 80%,
  #808bfe 100%
);
  background-attachment: fixed;
  min-height: 100vh;
  }
  .container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  }

  .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #E9ECFF;
  }
  .header-nav,
  .header-nav__list{
  display: flex;
  gap: 60px;
  font-family: "Geist Mono", monospace;
  font-size: 17px;
  text-transform: uppercase;
  }

  .header-nav{
  align-items: center;
  }
  .menu__close-btn{
    display: none;
  }
  .menu__btn{
  display: none;
  }

  .primary-button{
  text-transform: uppercase;
  background-color: #808BFE;
  border-radius: 7.25px;
  padding: 17px;
  }

  /* Main */

  .main-title{
  width: 100%;
  font-family: "Anek Tamil", sans-serif;
  font-size: 100px;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -5%;
  line-height: 110%;
  border: 2px solid black;
  padding: 20px;
  background-color: white;

  }

  .main-text__lilac{
  padding-left: 28px;
  color: #808DFD;
  }

  .main-description__one{
  display: flex;
  }

  .main-description__text{
  padding: 20px;
  background-color: #E9ECFF;
  display: block;

  }

  .main-description__text h1{
  text-transform: uppercase;
  font-family: "Anek Tamil", sans-serif;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: -3%;
  line-height: 91%;
  }

  .main-description__subtitle{
  margin-top: 143px;
  width: 100%;
  font-family: "Geist", sans-serif;
  font-size: 19px;
  }

  .main-about__us{
  text-transform: uppercase;
  padding: 12px 17px;
  display: inline-block;
  margin-top: 32px;
  }

  .main-description__two {
  display: flex;
  align-items: stretch; 
  }

  .main-description__container {
  border-right: 1px solid black;

  width: 100%;
  max-width: 480px;
  padding: 20px;
  background-color: #E9ECFF;
  display: flex;
  flex-direction: column;

  }

  .main-description__container h1 {
  text-transform: uppercase;
  font-family: "Anek Tamil", sans-serif; 
  font-weight: bold;
  font-size: 45px;
  letter-spacing: -3%;
  line-height: 91%;
  }

  .main-description__container .main-description__subtitle {
  margin-top: 180px;
  font-family: "Geist", sans-serif;
  font-size: 19px;
  }

  .main-title.left{
  justify-content: flex-start;
  }

  .community-description{
  display: flex;

  }

  .community-description section {
  background-color: #E9ECFF;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 50%;
  padding: 36px 20px; 

  }

  .community-description h1{
  font-family: "Anek Tamil", sans-serif; 
  font-weight: bold;
  font-size: 45px;
  letter-spacing: -3%;
  line-height: 91%;
  text-transform: uppercase;
  padding: 25px 56px 35px 20px;
  border-bottom: 2px solid black;
  }

  .community-about{
  padding: 19px 56px 19px 20px;
  border-bottom: 2px solid black;
  }

  .community-about__title{
  font-family: "Anek Tamil", sans-serif; 
  font-weight: bold;
  font-size: 25px;
  letter-spacing: -3%;
  line-height: 91%;
  text-transform: uppercase;
  margin-bottom: 6px;
  }

  .community-about__subtitle{
  font-family: "Geist", sans-serif;
  line-height: 131%;
  letter-spacing: 1%;
  font-size: 19px;
  width: 100%;
  }

  .community-about__link{
  padding: 48px 282px 0 37px;
  }

  .community-description a{
  color: black;
  font-family: "Geist", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  }

  .community-description img {
  width: 50%; /* Вторая половина ширины */  
  display: block;
  }

  .container-purple{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 162px 250px;
  background-color: #808CFD;
  }

  .section-purple{
  text-transform: uppercase;
  text-align: center;
  }

  .section-purple__title{
  font-family: "Geist", sans-serif;
  font-size: 17px;
  margin-bottom: 18px;

  }

  .section-purple__subtitle{
  font-family: "Anek Tamil", sans-serif; 
  font-weight: bold;
  font-size: 55px;
  margin-bottom: 18px;
  }

  .section-purple .primary-button{
  background-color: #E9ECFF;
  font-family: "Geist", sans-serif;
  font-size: 15px;
  letter-spacing: -1%;
  }

  .footer{
  border-top: 1px solid black;
  padding: 27px 20px;
  background-color: #E9ECFF;
  }

  .footer-logo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 169px;
  }

  .footer-logo img:nth-child(2){
  align-self: flex-start;
  }

.footer-info{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.footer__description{
  font-family: "Anek Tamil", sans-serif; 
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-info__title{
  font-family: "Geist", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.footer__schedule{
  display: flex;
  column-gap: 74px;
}
.footer__socials{
  display: flex;
  flex-direction: column;
}

.footer__socials a{
  transition: all .2s ease;
  color: black;
}

.footer__socials a:hover{
  color: #808CFD
}

@media(max-width: 1280px){
.main-title{
  font-size: 63px;
}
.main-description__one img{
  width: auto;
  height: auto;
}

}


@media(max-width: 1279px) and (min-width: 800px){
.main-title{
  font-size: 62px;
}
.main-description__one img{

  width: auto;
  height: auto;
}
.main-description__text h1{
  font-size: 36px;

}
.main-description__subtitle{
  font-size: 15px;
  margin-top: 10px;
}
.main-about__us{
  margin-top: 19px;
}
.main-description__two img{
  width: auto;
  height: auto;
}
.main-description__container h1{
  font-size: 36px;
}
.main-description__container .main-description__subtitle{
  font-size: 15px;
  margin-top: 48px;
}
.community-description img{
  width: auto;
  height: auto;
}
.community-description h1{
  line-height: 91%;
  letter-spacing: -3%;
  font-size: 36px;
  padding: 17px 30px 17px 20px;
}
.community-about__title{
  font-size: 25px;
}
.community-about__subtitle{
  font-size: 17px;
}
.community-about{
  padding: 20px;
}
.community-about__link{
  padding: 30px 240px 0 20px;
}
.community-description {
  display: flex;
  flex-direction: column;
}
.community-description section{
  width: 100%;
} 
.container-purple{
  padding: 135px 70px;
}

}




@media(max-width: 799px){
.menu__close{
  display: flex;
  justify-content: flex-end;
  margin-right: 27px;
 }
.header-nav__list li:nth-child(2){
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.header-nav__list li{
  padding: 20px;
}
.header-nav__list{
  display: block;
  font-size: 25px;
}
.menu__close-btn{
  display: block;
}
.header-nav .primary-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 25px;
}
.header-nav{
  top: 0px;
  position: absolute;
  left:0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  display: block;
  align-items: center;
  background-color: #fff;

  transition: all 0.3s ease;
  transform: translateX(800px);
}

.header-nav__open{
  transform: translateX(0%);
}
.menu__btn{
  order: 1;
  display: flex;
}
.main-title{
  font-size: 45px;
}
.main-description__one{
  display: flex;
  flex-direction: column;
}
.main-description__one img{
  width: auto;
  height: auto;
}

.main-description__text h1{
  font-size: 30px;
}

.main-description__subtitle{
  margin-top: 15px;
  width: 100%;
  font-family: "Geist", sans-serif;
  font-size: 20px;
}
.main-description__two{
  display: flex;
  flex-direction: column;
  
}
.main-description__two img{
  order: -1;
  width: auto;
  height: auto;
}
.main-description__container{
  max-width: 100%;
  width: 100%;
  border-right: none;
  border-bottom: 2px solid black;
}
.main-description__two .main-description__container:nth-child(2){
  border-bottom: none;
}
.main-description__container h1{
  font-size: 25px;
}
.main-description__container .main-description__subtitle{
  font-size: 18px;
  margin-top: 6px;
}
.community-description img{
  order: -1;
  width: auto;
  height: auto;
}
.community-description h1{
  line-height: 91%;
  letter-spacing: -3%;
  font-size: 36px;
  padding: 17px 30px 17px 20px;
}
.community-about__title{
  font-size: 25px;
}
.community-about__subtitle{
  font-size: 17px;
}
.community-about{
  padding: 20px;
}
.community-about__link{
  padding: 30px 240px 0 20px;
}
.community-description {
  display: flex;
  flex-direction: column;
}
.community-description section{
  width: 100%;
} 
.container-purple{
  padding: 135px 70px;
}
}

@media(max-width: 600px)and (min-width: 1px){
.main-title{
  font-size: 20px;
}
.footer-logo{
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  margin-bottom: 80px;
}
.footer-info{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.section-purple__subtitle{
  font-size: 40px;
}
}


